* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}


/* Volver */
.volver {
    position: relative;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    border: 4px dashed rgb(83, 251, 203);
    background-color: rgb(254, 159, 147);;
}